################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/W04_lab/.vs/Lab03/v17/Browse.VC.opendb
